:root{

--primary:#2563EB;
--secondary:#7C3AED;
--accent:#06B6D4;

--background:#0F172A;
--surface:#1E293B;

--text:#F8FAFC;
--text-light:#94A3B8;

--border:#334155;

}

h1, h2, h3 {
    font-family: 'Space Grotesk', sans-serif;
}

body{
    font-family: 'Inter',sans-serif;
    background:#0F172A;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    background-color:var(--background) ;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 0 2rem;
}


.logo{
    color: white;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    text-decoration: none;
}

.nav-menu{
    display: flex;
    gap: 2.5rem;
}

.menu-anchors{
    text-decoration: none;
    color: var(--text);
}

.menu-anchors:hover{
    color: var(--text-light);
    cursor: pointer;
}

.resume{
    text-decoration: none;
    color: var(--text);
    border: 2px solid var(--primary);
    font-weight: 400;
    padding: 0.6rem 1.2rem;
    border-radius: 20px;
    
    transition: all 0.2s ease;
}

.resume:hover{
    background-color: var(--primary);
    color: var(--text);
    cursor: pointer;
}

.hero-section{
   display: flex;
   flex-direction:row;
   padding: 1rem;
   margin: 1rem;
   width: 100%;
   padding-top:80px;


}

.left-content{
    display: flex;
    flex-direction: column;
    
    max-width: 600px;
}

.badge{
    display: inline-flex;
    align-items: center;
    gap: 8px;

    padding:8px 16px ;

    border: 1px solid var(--border);

    border-radius:999px ;

    background:rgba(255,255,255,.04);

    color: var(--text-light);

    margin-bottom: 2rem;

    


}

.dot{
    width: 10px;
    height: 10px;

    background:#22C55E;

    border-radius: 50%;

    box-shadow:
          0 0 5px #22C55E,
        0 0 10px #22C55E,
        0 0 20px rgba(34,197,94,.6);
}

.intro{
    font-size: 1.4rem;

    color: var(--accent);

    margin-bottom: 10px;
}

.left-content h1{
    font-size: 3rem;
    line-height:1.3;
    color: var(--text-light);
    margin-bottom:0.5rem;
    
}

.left-content h2{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--accent);
    margin-bottom: 1rem;
}

.bio{
    font-size: 1.05rem;
    color: var(--text-light);
    line-height: 1.6;
    margin-bottom: 2rem;
    max-width: 550px;
}

.highlight{
    color: var(--primary);
}

.buttons{
    display: flex;
    gap: 1rem;
}
.project-button{
    background-color: var(--background);
    text-decoration: none;
    color: var(--text);
    border-radius: 12px;
    padding: 0.8rem 1.6rem;
    font-weight:500;
    border: 1px solid var(--primary);
    transition: all 0.3s ease;
    
}

.project-button:hover{
    background-color: var(--secondary);
    transform: translateY(-3px);
    box-shadow:0 8px 20px rgba(37, 99, 235, 0.35); 
     cursor: pointer;
    
}

.contact-button{
    background-color:var(--accent);
    text-decoration: none;
    color:var(--text);
    font-weight: 500;
    padding: 0.8rem 1.6rem;
    border-radius: 12px;
    transition: all 0.3s ease;
    border:  1px solid var(--text) ;

}


.contact-button:hover{
    background-color: var(--text-light);
    color: var(--background);
    transform: translateY(-3px);
     cursor: pointer;
}

.socials{
    margin-top: 3rem;
    display: flex;
    /* justify-content:start; */
    gap: 2rem;
}

.social-icons{
    font-size: 50px;
    /* font-weight: 900; */

    display:flex;
    justify-content:center;
    align-items:center;

    border-radius:50%;

    background:var(--surface);

    color: var(--text);

    border: 1px solid var(--border);

    text-decoration: none;

    transition: all 0.3s ease;
    

}

.social-icons:hover{
      transform: translateY(-5px) scale(1.1);
}
.social-icons:nth-child(1) i{ transition: color 0.3s ease; }
.social-icons:nth-child(1):hover i{color:#181717 ; }               
.social-icons:nth-child(1):hover{ box-shadow:0 0 20px rgba(232,65,51,.5); }

.social-icons:nth-child(2) i{ transition: color 0.3s ease; }
.social-icons:nth-child(2):hover i{ color:#0A66C2; }              
.social-icons:nth-child(2):hover{ box-shadow:0 0 20px rgba(10,102,194,.5); }

.social-icons:nth-child(3) i{ transition: color 0.3s ease; }
.social-icons:nth-child(3):hover i{ color:#E84133; }               
.social-icons:nth-child(3):hover{ box-shadow:0 0 20px rgba(120,120,120,.4); }

.social-icons:nth-child(4) i{ transition: color 0.3s ease; }
.social-icons:nth-child(4):hover i{ color:#25D366; }               
.social-icons:nth-child(4):hover{ box-shadow:0 0 20px rgba(37,211,102,.5); }


.right-content{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  
    
}

.profile-card{
    width: 320px;
    height: 320px;

    border-radius: 20px;
    border: 1px solid var(--border);
     background-color:var(--surface);

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    overflow: hidden;

    transition: .4s ease;
}

.profile-card:hover{
        transform: translateY(-10px);

        box-shadow:0 20px 50px rgba(37,99,235,.25);

}

.glow-circle{
    width: 180px;
    height: 180px;

    background:var(--primary);

    border-radius: 50%;

    position: absolute;

    top:-40px;
    right: -40px;

    filter: blur(80px);
    opacity: .4;
    
}


.about .about-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    align-items: center;
}

.about-card{
    padding: 40px;
    display: flex;
    flex-direction: column;
}